# -*- coding: utf-8 -*-

# Your discord credentials
DC_BOT_TOKEN = ""
DC_CLIENT_ID = 1234567890
DC_CLIENT_SECRET = ""
DC_INVITE_LINK = ""
DC_OWNER_ID = 1234567890  # your user id (owner of the bot)
DC_SLASH_SERVERS = [] # Fill if you want slash commands only in those dc servers

DB_URI = "" # mysql://user:password@hostname:port/database"
LOG_LEVEL = "DEBUG" # CHAT, DEBUG, COMMANDS, INFO or ERRORS
COMMANDS_URL = "https://github.com/Leshaka/PUBobot2/blob/main/COMMANDS.md#avaible-commands"
HELP = """PUBobot2 is a discord bot for pickup games organisation.
Web interface: <https://pubobot.leshaka.xyz/>.
Commands: <https://github.com/Leshaka/PUBobot2/blob/main/COMMANDS.md>.
If you need help with the bot feel free to join PUBobot-dev guild: <https://discord.gg/rjNt9nC>.
"""
STATUS = "pubobot.leshaka.xyz" # bot presence string

# Web server
WS_ENABLE = False
WS_HOST = ""
WS_PORT = 443
WS_OAUTH_REDIRECT_URL = ""
WS_ROOT_URL = ""
WS_SSL_CERT_FILE = ""
WS_SSL_KEY_FILE = ""
